@charset "UTF-8";

@media screen and (min-width: 769px) {
    #burger{
        display: none;
    }
    menu {
        display: block;
    }
    li {
        display: inline-block;
    }
    article {
        width: 700px;
    }
}